<h1>Debug#hoge</h1>
<p>Find me in app/views/debug/hoge.html.erb</p>

<form id="auth_form">
  <label for="auth_email">Mail:</label>
  <input type="email" name="email" id="auth_email" placeholder="email"/>
  <label for="auth_password">Password: </label>
  <input type="password" name="password" id="auth_password" placeholder="password"/>
  <button type="button" id="auth">Auth Test</button>
</form>

<form id="api_form">
  <label for="api_token">Token:</label>
  <input type="text" name="token" id="api_token" placeholder="token"/>
  <button type="button" id="api">Api Test</button>
</form>

<div class="container">
  <h3>Debug</h3>
  <div class="debug_container"></div>
</div>
